<?xml version='1.0' encoding='utf-8'?>
<widget id="de.redstonepfalz.einkochen" version="1.4.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Einkochen leicht gemacht</name>
    <description>Einkochen leicht gemacht</description>
    <author email="einkochenleichtgemacht@gmail.com" href="https://play.google.com/store/apps/details?id=de.redstonepfalz.einkochen">
        RedstonePfalz
    </author>
    <icon src="www/img/app_icon.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/splash.png" />
        <preference name="BackgroundColor" value="#ffffff" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
</widget>
