body {
    user-select: none;
    --md-ref-typeface-brand: "Gabarito";
    --md-ref-typeface-plain: "Gabarito";
    font-family: 'Gabarito', sans-serif;
    font-size: 16px;
    --md-sys-color-primary: #8DB600;
    --md-sys-color-secondary-container: #9FFF80;
    --md-sys-color-surface-container: #D9FFCC;
    background-color: #ffffff;
    color: #000;
    /*
    --mdc-theme-primary: #00BFFF;
    --mdc-theme-primary: #FF1493;
    --mdc-theme-on-primary: #fff;
     */
    /* line-height: 1.5; */
}

h1, h2, h3 {
    font-family: 'Roboto', serif;
    font-weight: 700;
}

.hidden {
    visibility: hidden;
}

.notice {
    color: red;
}

.btn-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: var(--mdc-theme-primary)
}

.mdc-select__anchor {
    width: 320px;
}

.mdc-floating-label {
    font-size: 12px;
}

.mdc-list-item {
    line-height: 250%;
}